<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title INDEX
    body
        .ind
            .ind__top 

            .ind__main
                .ind__main-1 
                .ind__main-2 

            .ind__bottom
                .ind__bottom-1 1 
                .ind__bottom-2 2